<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>192.168.1.254:42545/x5/$v3871_1_0_$lzh_CN$sdesktop$d/UI2/system/deploy/package/download.j?platform=ios&&appName=MIHOH</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://x5.justep.com/apps/x5.png</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://x5.justep.com/apps/x5.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.mihoh</string>
<key>bundle-version</key>
<string>5.3.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>X5 App download</string>
</dict>
</dict>
</array>
</dict>
</plist>
